<!--se realiza el muestreo de imagenes atraves de la api que se realizo el consumo en home
<div class="card-columns">

  <div  *ngFor="let cancion of nuevasCanciones" class="card">
    <img [src]="cancion.images | noimages" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{cancion.name}} </h5>
      <p class="card-text">
        <span *ngFor="let artista of cancion.artists" class="badge badge-success">
          {{artista.name}}
        </span>
      </p>
    </div>
  </div>
</div>
-->>

<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Error</h3>
  <p>
    {{mensajeError}}
  </p>
</div>
<!-- se implementa el tarjetero pasando de items el valor anterior que era nuevas canciones -->>

<app-tarjetas [items] ="nuevasCanciones"></app-tarjetas>
